<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BUS.Channel" version="1.0.0.4" targetFramework="net47" />
  <package id="BUS.Core" version="2.1.1.0" targetFramework="net47" />
  <package id="BUS.Corp" version="1.0.0.4" targetFramework="net47" />
  <package id="BUS.User" version="1.0.0.4" targetFramework="net47" />
</packages>